.selected {
    background-color: rgba(255,0,0, 0.3);
}

span:hover {
    background-color: rgba(255,0,0, 0.3);
}

#image_container {
    float: left;
    margin-right: 1em;
}

.pagetext p {
    text-align: justify;
    -moz-hyphens: auto;
    margin: 0;
    text-indent: 1.5em;
}

.pagetext {
    padding: 3.5em 2em;
    font-size: 12px;
    line-height: 150%;
}

#texte-non-corrige {
    margin-top:0cm;
    width: 10cm;
    float: left;
}

#texte-corrige {
    margin-top:0cm;
    width: 10cm;
    float: left;
}
